* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #333;
}

#quiz-container, #results-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#answers-container {
    margin-top: 20px;
}

#answers-container div {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#answers-container div:hover {
    background-color: #ddd;
}

#progress-container {
    margin-top: 20px;
    font-size: 1.1rem;
}

.answer-option {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-option:hover {
    background-color: #ddd;
}
.correct {
    background-color: #4CAF50 !important; 
    color: white !important;
    border: 2px solid #388E3C;
}

.incorrect {
    background-color: #f44336 !important; 
    color: white !important;
    border: 2px solid #D32F2F;
}

.disabled {
    pointer-events: none;     
    opacity: 0.6;              
   
   
}


#next-button-container {
    margin-top: 20px;
}

#results-container p {
    font-size: 1.2rem;
    font-weight: bold;
}

#restart-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #1976D2;
}
